.addEvento {
    margin: auto;

    h2 {
        margin: auto;
        margin-left: 10%;
    }

    .addNewEvent {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 6rem;
        width: 80%;
        height: 100%;
    }
}