.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      width: 100px;
      position: absolute;
      top: 5%;
      left: 150px;
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      transform: translate(-50%);

      img {
        display: block;
        height: 60px;
        width: 130px;
        margin: 0;
      }
    }

    .navbar {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;

      ul,
      ul li {
        padding: 0;
        margin: 0;
        height: 100%;
      }

      ul {
        text-align: center;
        li {
          display: inline-block;
          margin: 0 3rem;
          list-style-type: none;

          &:first-child {
            padding-left: 10.0rem;
          }

          a {
            font-size: 1.8rem;
            line-height: 6.5rem;
            vertical-align: middle;
            color: rgb(224, 51, 80);
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }

    .callToActions {
      position: absolute;
      top: 30%;
      right: 10px;
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      transform: translate(-50%);

      ul,
      li {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }

        a,
        span {
          font-size: 2rem;
          line-height: 1;
          color: green;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
