.history {
    margin: 0 15rem;
    padding: 0;

    p {
        margin: 3rem 2rem auto;
        font-size: 1.8rem;
        font-weight: 400;
        color: black;
        line-height: 1;
        text-align: justify;

    }
}